/* Copy and pasted from https://dev.to/satishnaikawadi2001/build-custom-modal-popup-component-in-react-js-29g5 */
.wrapper {
    position: fixed;
    display: block;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    overflow-x: hidden;
    background-color: rgba(31, 32, 41, 75%);
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.25s 0.7s ease;
}

.visible {
    pointer-events: auto;
    opacity: 1;
    transition: all .3s ease-in-out;
}

.content {
    overflow-y: scroll;
    overflow-x: hidden;
    position: relative;
    display: block;
    width: 60vw;
    height: 60%;
    min-height: 400px;
    min-width: 400px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 4px;
    padding-bottom: 20px;
    background-color: #fff;
    align-self: center;
    box-shadow: 0 12px 25px 0 rgba(199, 175, 189, .25);
    opacity: 0;
    transform: scale(0.6);
    transition: opacity 0.25s 0.25ms ease, transform 0.3s 0.25s ease;
    transform: scale(0);
}

.visible .content {
    opacity: 1;
    transform: scale(1);
    transition: opacity 0.25s 0.5s ease, transform 0.35s 0.5s ease;
}